*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}
body{
    background: url(../images/bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    transform-style: preserve-3d;
}
.earth{
    position: absolute;
    top: 25em;
    left: 49%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 250px;
    display: flex;
    background: url(../images/maps.jpg);
    background-size: cover;
    background-repeat: repeat-x;
    border-radius: 50%;
    box-shadow: inset 0 0 20px rgba(0,0,0,1),
    0 0 50px #4069ff;
    animation: animateEarth 15s linear infinite;
}
@keyframes animateEarth{
    0%{
        background-position: 0 0;
    }
    100%{
        background-position: -750px 0;
    }
}
.circle{
    transform-style: preserve-3d;
    animation: animateText 10s linear infinite;
}
 .circle span{
    position: absolute;
    top: 250px;
    left: 10px;
    background: #fff;
    color: #35146f;
    font-size: 2em;
    transform-origin: center;
    transform-style: preserve-3d;
    padding: 5px 11px;
    transform: rotateY(calc(var(--i) * calc(360deg / 31))) 
    translateZ(200px);
    border-top: 4px solid #35146f;
    border-bottom: 4px solid #35146f;
}
/* .circle span::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    transform: translateZ(-5px);
}  */
@keyframes animateText{
    0%{
        transform: perspective(1000px) rotateY(360deg) rotateX(15deg) translateY(-30px);
    }
    100%{
        transform: perspective(1000px) rotateY(0deg) rotateX(15deg) translateY(-30px);
    }
}
#back{
    position: absolute;
    top: 10px;
    left: 10px;
    color: #fff;
    background: transparent;
    cursor: pointer;

}
.btn{
    background: transparent;
    border: #fff 2px solid;
    padding: 10px;
    color: #fff;
    text-decoration: none;
    margin-left: 20%;
    width: 15%;
    border-radius: 15px;
    transition: 0.5s;
    cursor: pointer;
    margin-top: 30%;
}
.btn2{
    background: transparent;
    border: #fff 2px solid;
    padding: 10px;
    color: #fff;
    text-decoration: none;
    margin-left: 30%;
    width: 15%;
    border-radius: 15px;
    transition: 0.5s;
    cursor: pointer;
    margin-top: 30%;
}
.btn:hover{
    background: #fff;
    color: #606060;
}
.btn2:hover{
    background: #fff;
    color: #606060;
}