* {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}

header {
    background: #f1f1f1;
    min-height: 70px;
    border-bottom: #e6e6e6 2px solid;
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    display: none;
}

body {
    background-color: #f1f1f1;
}

.course-card-right {
    width: 80%;
    margin: auto;
}

.navbar -webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
}

.navbar {
    margin: 30px auto;
    display: flex;
    align-items: center;
}

#profile {
    width: 35px;
    height: 35px;
    margin-left: 40px;
    border-radius: 50%;
}

.nav-item:nth-child(2) a {
    color: #64B5F6;
    font-weight: bold;
}

.nav-item, .nav-item-direct {
    font-weight: normal;
    color: black;
    transition: all .2s ease-in-out;
}

.nav-item:hover, .nav-item-direct:hover {
    font-weight: bold;
    color: #64B5F6;
    transition: all .2s ease-in-out;
}

ul {
    flex: 1;
    text-align: right;
}

ul li {
    display: inline-block;
    list-style: none;
    margin: 0;
    width: 90px;
    text-align: center;
}

ul li a {
    text-decoration: none;
    color: #000;
    position: relative;
}

ul li a::after {
    content: '';
    width: 0;
    height: 15px;
    background: #64B5F6;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -55px;
    transition: all .3s ease-in-out;
}

ul li a:hover::after {
    width: 100%;
    transition: all .3s ease-in-out;
}

/*course card view*/

.course-card-parent {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    padding-left: 19em;
    padding-right: 19em;
}

#course-header {
    font-size: 36px;
    padding-left: 10%;
    padding-top: 20px;
    padding-bottom: 5px;
}

#course-desc {
    font-size: 18px;
    margin-left: 10%;
    margin-bottom: 10px;
    color: #606060;
}

.image {
    height: 500px;
    width: 350px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transition: 1s;
}

.course-card {
    height: 500px;
    margin: 50px;
    width: 30em;
    position: relative;
    overflow: hidden
}

.course-card > img {
    position: absolute;
}
.course-content {
    height: 100px;
    width: 560px;
    z-index: 3;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    background: rgb(27, 27, 27, .5);
    color: white;
    transition: .5s;
    padding: 30px;
}

.desc {
    visibility: hidden;
    opacity: 0;
    margin-top: 10px;
}

.course-card:hover {
    cursor: pointer;
}

.course-card:hover .course-content {
    height: 200px;
    background: black;
}

.course-card:hover .desc {
    opacity: 1;
    visibility: visible;
}

.course-card:hover .image {
    transform: scale(1.1) rotate(5deg);
}