* {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}

header {
    background: #f1f1f1;
    min-height: 70px;
    border-bottom: #e6e6e6 2px solid;
    scroll-behavior: smooth;
    overflow: hidden;
}

body {
    background-color: #f1f1f1;
}

.navbar -webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
}

.navbar {
    display: flex;
    align-items: center;
    width: 80%;
    margin: 30px auto;
}

#profile {
    width: 35px;
    height: 35px;
    margin-left: 40px;
    border-radius: 50%;
}

.current:first-child a {
    color: #64B5F6;
    font-weight: bold;
}

.current, .current_a {
    font-weight: normal;
    color: black;
    transition: all .2s ease-in-out;
}

.current:hover, .current_a:hover {
    font-weight: bold;
    color: #64B5F6;
    transition: all .2s ease-in-out;
}

#nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

ul {
    flex: 1;
    text-align: right;
}

ul li {
    display: inline-block;
    list-style: none;
    margin: 0;
    width: 90px;
    text-align: center;
}

ul li a {
    text-decoration: none;
    color: #000;
    position: relative;
}

ul li a::after {
    content: '';
    width: 0;
    height: 15px;
    background: #64B5F6;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -55px;
    transition: all .3s ease-in-out;
}

ul li a:hover::after {
    width: 100%;
    transition: all .3s ease-in-out;
}

.banner {
    display: flex;
    margin-top: 30px;
}

.left-column, .right-column {
    flex-basis: 50%;
}

.right-column img {
    width: 50%;
    position: relative;
    left: 30%;
    margin-top: 5%;
    object-fit: contain;
    display: inline-block;
    overflow: hidden;
}

#text-span {
    color: #64B5F6;
}

#top-text {
    font-size: 40px;
    margin-left: 20%;
    margin-top: 10%;
}

#bottom-text {
    color: #606060;
    font-size: 16px;
    margin-left: 20%;
    margin-top: 3%;
    font-weight: 540;
}

#button {
    background: #64B5F6;
    border: #64B5F6 1.2px solid;
    padding: 5px;
    color: #fff;
    text-decoration: none;
    margin-left: 20%;
    margin-top: 3%;
    width: 15%;
    border-radius: 15px;
    transition: 0.5s;
}

.banner2 {
    display: flex;
    margin-top: 30px;
}

#circle {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: #64B5F6;
    left: 8%;
    bottom: 3%;
    position: absolute;
    z-index: -1;
}

#circle2 {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: #C6EBFF;
    left: 50%;
    bottom: 35%;
    position: absolute;
}

#circle3 {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #64B5F6;
    left: 55%;
    bottom: 60%;
    position: absolute;
}

#triangle {
    height: 0;
    width: 0;
    border-left: 50px solid #C6EBFF;
    border-right: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-top: 50px solid transparent;
    position: absolute;
    bottom: 10%;
}

#triangle2 {
    height: 0;
    width: 0;
    border-left: 50px solid #64B5F6;
    border-right: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-top: 50px solid transparent;
    position: absolute;
    bottom: 15%;
}

.left-column {
    flex-basis: 50%;
}

.right-column2, .right-column3 {
    flex-basis: 25%;
    margin-top: 3%;
}

#top-text2 {
    color: #000;
    font-size: 35px;
    margin-left: 20%;
    margin-top: 10%;
}

#bottom-text2 {
    color: #606060;
    font-size: 16px;
    margin-left: 20%;
    margin-top: 3%;
    font-weight: 540;
}

#button2 {
    background: #64B5F6;
    border: #64B5F6 1.2px solid;
    padding: 5px;
    color: #fff;
    text-decoration: none;
    margin-left: 20%;
    margin-top: 3%;
    width: 15%;
    border-radius: 15px;
    transition: 0.5s;
    cursor: pointer;
}

.right-column2 img {
    margin-top: 10%;
    width: 12%;
    position: relative;
    left: 30%;
}

.right-column2 p {
    flex-basis: 20%;
    font-size: 24px;
    margin-top: 3%;
    margin-left: 30%;
    font-weight: bold;
}

.right-column3 p {
    flex-basis: 20%;
    font-size: 24px;
    margin-top: 3%;
    margin-left: 10%;
    font-weight: bold;
}

#bottom-textf {
    color: #606060;
    font-size: 12px;
    margin-top: 1%;
    font-weight: 540;
    width: 50%;
}

.right-column3 img {
    margin-top: 10%;
    width: 8%;
    position: relative;
    left: 10%;
}

#bottom-textf2 {
    color: #606060;
    font-size: 12px;
    margin-top: 1%;
    font-weight: 540;
    width: 50%;
}

.triangle3 {
    height: 0;
    width: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid #C6EBFF;
    border-bottom: 50px solid transparent;
    border-top: 50px solid transparent;
    position: absolute;
    right: 0%;
    bottom: -60%;
}

.triangle4 {
    height: 0;
    width: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid #64B5F6;
    border-bottom: 50px solid transparent;
    border-top: 50px solid transparent;
    position: absolute;
    right: 0%;
    bottom: -55%;
}

footer {
    background-color: #353535;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 30px;
    text-align: center;
}

#footer-text {
    margin-top: 20px;
}

.center-column-f {
    color: #d9dbe1;
    font-size: 14px;
    margin-left: 20px;
}

.banner3 {
    display: flex;
    margin-top: 30px;
}

.bottom-column {
    flex-basis: 100%;
}

#text {
    color: #000;
    margin-left: 20px;
    margin-top: 8%;
    text-align: center;
}

/* #bottom-texth {
    color: #606060;
    font-size: 16px;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 1%;
    font-weight: 540;
    text-align: center;
} */

.bottom-column {
    width: 20%;
    margin: 20px;
    padding: 30px;
    display: flex;
    text-align: center;
}

.bottom-img {
    align-content: center;
    margin-bottom: 20px;
    width: 20%;
}

.bottom-title {
    margin-bottom: 20px;
    font-size: 24px;
}

.bottom-content{
    font-size: 12px;
    color: #606060;
    margin-left: 10%;
    margin-right: 10%;
}

.centered-column {
    text-align: center;
    margin: auto;
}

#title {
    margin-top: 50px;
}

#content {
    margin-top: 30px;
    margin-right: 20em;
    margin-left: 20em;
    font-size: 14px;
    color: #606060;
}